{% extends 'partsapp/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<section id="about">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>О нашем магазине</h2>
                <p class="lead">Наш магазин предлагает вам широкий выбор орининальных и неоригинальных запасных частей
                на автомобили, мы ценим каждого покупателя и всегда стараемся подобрать запасные части для
                Вашего атомобиля</p>
                <ul>
                    <li>Вы можете оформить заказ в нашем интернет магазине</li>
                    <li>Вы можете позвонить нам  по телефону 8(999) 999-99-99</li>
                    <li>Вы можете приехать к нам по адресу: г. Москва ул Ленина д1. к1 и пробрести необходимые товары
                    </li>

                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock content %}